<html>
<head>
<style>
body {
  background-color: DarkSlateBlue;
}

h1 {
  color: goldenrod;
  text-align: center;
  font-family: verdana;
  font-size: 25px;
}

label{
color: white;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
<meta charset="utf-8">
<h1>Login de Usuário</h1>
<br></br>
<align>
<center>
<form action="" method="POST" novalidate>
    {{ form.csrf_token() }}
    <div class="form-group">
        <label for="user">Nome de usuário:</label>
        {{ form.username(class="form-control", placeholder="Nome de Usuário") }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
            <br></br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {% endif %}
    </div>
    <br><br>
    <div class="form-group">
        <label for="password">Senha:</label>
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
            <br></br>
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {% endif %}
    </div>
    <br><br>
    <div class="checkbox">
        <label>
            {{ form.remember_me}} Remember me
        </label>
    </div>
    <br><br>
    <p>{{form.submit()}}</p>
</form>
</center>
</align>
